# Stuff to not include in git repo

# The below line is the long core.blahblahblah file that gets created sometimes
core.*
scripts/.aim/*
MONAI_DATA/*
output/*
test_files/*
*.ckpt
slurm/*
checkpoints/*
*.ckpt
logs/*
dev_figs/*
val_plots/*
scripts/__pycache__/*
config/__pycache__/*
*/__pycache__/*
